In [18]:
#Importing the libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
#Reading the traning file
data = pd.read_csv('./data/train_1.csv').fillna(0)
#page = data['Page']
data.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [20]:
# parse Page column
split_page = data['Page'].str.rsplit("_", n = 3, expand = True)
data.insert(loc=0, column='name', value=split_page[0])
data.insert(loc=1, column='project', value=split_page[1])
data.insert(loc=2, column='access', value=split_page[2])
data.insert(loc=3, column='agent', value=split_page[3])
data = data.drop(['Page'], axis=1)

split_language = data['project'].str.split(".", n = 1, expand = True)
data.insert(loc=1, column='language', value=split_language[0])
data = data.drop(['project'], axis=1)

,name,language,access,agent,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1,zh,all-access,spider,18.0,11.0,5.0,13.0,14.0,9.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM,zh,all-access,spider,11.0,14.0,15.0,18.0,11.0,13.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C,zh,all-access,spider,1.0,0.0,1.0,1.0,0.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute,zh,all-access,spider,35.0,13.0,10.0,94.0,4.0,26.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You,zh,all-access,spider,0.0,0.0,0.0,0.0,0.0,0.0,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [190]:
print(data.loc[data['name'].isin(['Donald_Trump'])])

                name language      access       agent  2015-07-01  2015-07-02  \
6389    Donald_Trump       fr     desktop  all-agents       766.0       647.0
8972    Donald_Trump       en     desktop  all-agents     35886.0     37554.0
13917   Donald_Trump  commons  all-access      spider         0.0         1.0
25870   Donald_Trump       fr  all-access  all-agents      1471.0      1133.0
36161   Donald_Trump       en  all-access      spider       410.0       403.0
41072   Donald_Trump       en  all-access  all-agents     82159.0     83458.0
44396   Donald_Trump  commons  all-access  all-agents        15.0        15.0
48891   Donald_Trump       de  all-access      spider         6.0         5.0
53516   Donald_Trump       fr  mobile-web  all-agents       687.0       474.0
67429   Donald_Trump       de     desktop  all-agents      1565.0      1041.0
70951   Donald_Trump       es     desktop  all-agents     17725.0     14033.0
73348   Donald_Trump       en  mobile-web  all-agents     44981.0     44451.0
81042   Donald_Trump  commons     desktop  all-agents        15.0        15.0
91926   Donald_Trump       es  all-access  all-agents     44237.0     35561.0
95555   Donald_Trump       es  mobile-web  all-agents     26252.0     21285.0
116521  Donald_Trump       de  mobile-web  all-agents       899.0       742.0
129841  Donald_Trump       fr  all-access      spider         6.0        10.0
139434  Donald_Trump       de  all-access  all-agents      2548.0      1850.0
143166  Donald_Trump       es  all-access      spider        56.0        36.0

        2015-07-03  2015-07-04  2015-07-05  2015-07-06     ...      \
6389         568.0       447.0       294.0       371.0     ...
8972       22154.0     16640.0     16158.0     18986.0     ...
13917          0.0         0.0         3.0         1.0     ...
25870        969.0       779.0       620.0       651.0     ...
36161        441.0       492.0       306.0       303.0     ...
41072      55615.0     43865.0     42220.0     38412.0     ...
44396         26.0         6.0         9.0        18.0     ...
48891          6.0         9.0         3.0         7.0     ...
53516        396.0       322.0       315.0       275.0     ...
67429        983.0      1030.0       671.0       727.0     ...
70951       8182.0      4356.0      4647.0      6761.0     ...
73348      32464.0     26430.0     25243.0     18808.0     ...
81042         26.0         6.0         8.0        18.0     ...
91926      21838.0     13382.0     15321.0     16062.0     ...
95555      13496.0      8918.0     10558.0      9197.0     ...
116521       566.0      1137.0       633.0       501.0     ...
129841         4.0        22.0         1.0        13.0     ...
139434      1589.0      2264.0      1356.0      1265.0     ...
143166        24.0        15.0        26.0        71.0     ...

        2016-12-22  2016-12-23  2016-12-24  2016-12-25  2016-12-26  \
6389        4025.0      3419.0      2086.0      1539.0      2244.0
8972       34656.0     30613.0     23315.0     21301.0     23997.0
13917          6.0         4.0         2.0         3.0         2.0
25870       7728.0      6792.0      5583.0      5227.0      5091.0
36161       3098.0      2587.0      2138.0      1949.0      3366.0
41072      78422.0     80340.0     73892.0     75660.0     70005.0
44396         69.0        48.0        34.0        41.0       112.0
48891        146.0       145.0        62.0       365.0       177.0
53516       3455.0      3192.0      3325.0      3563.0      2768.0
67429       2598.0      2268.0      1624.0      2315.0      2282.0
70951       2135.0      2070.0      1310.0      1375.0      1864.0
73348      42298.0     48155.0     48921.0     52663.0     44559.0
81042         67.0        46.0        31.0        31.0       107.0
91926       4982.0      5276.0      4787.0      5936.0      5843.0
95555       2788.0      3147.0      3403.0      4486.0      3911.0
116521      2179.0      2663.0      5621.0      4509.0      6070.0
129841       511.0       467.0        94.0        33.0        78.0
139434      5011.0      5144.0      7712.0      7309.0      8819.0
143166       135.0       301.0        67.0        40.0        27.0

        2016-12-27  2016-12-28  2016-12-29  2016-12-30  2016-12-31
6389        2286.0      2008.0      2180.0      2859.0      2077.0
8972       28415.0     26453.0     27953.0     25710.0     40406.0
13917          3.0         7.0         4.0        13.0         7.0
25870       4844.0      4701.0      4976.0      6266.0      5268.0
36161       5035.0      2416.0      3700.0      2463.0     19926.0
41072      71456.0     66809.0     70421.0     66210.0     83532.0
44396        245.0        71.0        70.0        65.0       166.0
48891        151.0       151.0       146.0       174.0        77.0
53516       2466.0      2612.0      2697.0      3277.0      3050.0
67429       2488.0      2455.0      2614.0      2836.0      2118.0
70951       1978.0      2100.0      1935.0      1893.0     18768.0
73348      41714.0     39173.0     41123.0     39220.0     41707.0
81042        239.0        62.0        57.0        57.0       160.0
91926       5860.0      5858.0      5825.0      5602.0     22835.0
95555       3812.0      3682.0      3835.0      3653.0      4002.0
116521      2938.0      2698.0      2866.0      3259.0      3991.0
129841       148.0        79.0        47.0       133.0       113.0
139434      5747.0      5394.0      5790.0      6364.0      6390.0
143166        53.0        80.0        83.0        67.0        68.0

[19 rows x 554 columns]

In [185]:
#print((data.loc[data['language'].isin(['zh'])]).loc[:,'2015-07-01':])
#print((data.loc[data['language'].isin(['en'])]).loc[:,'2015-07-01':].sum(axis=1))
lang='en'
newData=pd.DataFrame({'name':data.loc[data['language'].isin([lang])].name,
        'access':data.loc[data['language'].isin([lang])].access,
        'total':(data.loc[data['language'].isin([lang])]).loc[:,'2015-07-01':].sum(axis=1)})

print(newData.sort_values(by='total',ascending=False))

                                                     name      access  \
38573                                           Main_Page  all-access
9774                                            Main_Page     desktop
74114                                           Main_Page  mobile-web
39180                                      Special:Search  all-access
10403                                      Special:Search     desktop
74690                                      Special:Search  mobile-web
39172                                        Special:Book  all-access
10399                                        Special:Book     desktop
33644                                           Main_Page  all-access
34257                                      Special:Search  all-access
40930                                             404.php  all-access
12815                                             404.php     desktop
41072                                        Donald_Trump  all-access
39637                                            XHamster  all-access
75127                                            XHamster  mobile-web
40689                               Special:RecentChanges  all-access
12662                               Special:RecentChanges     desktop
41830                                        Web_scraping  all-access
12124                                        Web_scraping     desktop
73348                                        Donald_Trump  mobile-web
10761                User:GoogleAnalitycsRoman/google-api     desktop
38915                                         Proyecto_40  all-access
40691                                   Special:Watchlist  all-access
39174                               Special:CreateAccount  all-access
10158                                         Proyecto_40     desktop
11907                                   Special:Watchlist     desktop
37290                                               AMGTV  all-access
8972                                         Donald_Trump     desktop
37756                                      Deaths_in_2016  all-access
10401                               Special:CreateAccount     desktop
...                                                   ...         ...
112810                                        Reg_Scotson  all-access
75027                                      V._K._Sasikala  mobile-web
113650                              Udiramala_Subramaniam  all-access
113744                 Vincent_Taylor_(American_football)  all-access
41391                                          Si3_(film)  all-access
74717                               Stephen_Miller_(aide)  mobile-web
75764                                         LaMelo_Ball  mobile-web
11250                               Executive_Order_13769     desktop
109681                                               Ajol  all-access
111432                                    Jean-Pierre_Ohl  all-access
34558                   UFC_Fight_Night:_Lewis_vs._Browne  all-access
112633                                 Picard,_California  all-access
11872                                          Si3_(film)     desktop
111741                            Lake_Elysian,_Minnesota  all-access
112639                  Pieter_van_den_Bosch_(footballer)  all-access
110526                                        Dave_Clauss  all-access
110417                        Cornacchia_(disambiguation)  all-access
34339                              Taboo_(2017_TV_series)  all-access
11983                                    The_Ghazi_Attack     desktop
110184                            Caithness_Broch_Project  all-access
34284                               Stephen_Miller_(aide)  all-access
12448                     January_2017_European_cold_wave     desktop
34273                            Star_Wars:_The_Last_Jedi  all-access
12850                              Bowling_Green_massacre     desktop
34213                                          Si3_(film)  all-access
109982                               BeIN_Series_(Turkey)  all-access
109483                      1960_NCAA_Soccer_Championship  all-access
75512                                    Ezra_(2017_film)  mobile-web
111901  List_of_significant_United_States_town_hall_me...  all-access
76996                                     Apple_Tree_Yard  mobile-web

               total
38573   1.206618e+10
9774    8.774497e+09
74114   3.153985e+09
39180   1.304079e+09
10403   1.011848e+09
74690   2.921628e+08
39172   1.339931e+08
10399   1.332859e+08
33644   1.290204e+08
34257   1.243102e+08
40930   9.353280e+07
12815   9.353190e+07
41072   9.030458e+07
39637   7.187455e+07
75127   6.799232e+07
40689   6.432074e+07
12662   6.407064e+07
41830   5.824196e+07
12124   5.813686e+07
73348   5.247827e+07
10761   5.055742e+07
38915   4.075673e+07
40691   4.003109e+07
39174   3.979927e+07
10158   3.946644e+07
11907   3.921274e+07
37290   3.765833e+07
8972    3.665835e+07
37756   3.654354e+07
10401   3.563193e+07
...              ...
112810  0.000000e+00
75027   0.000000e+00
113650  0.000000e+00
113744  0.000000e+00
41391   0.000000e+00
74717   0.000000e+00
75764   0.000000e+00
11250   0.000000e+00
109681  0.000000e+00
111432  0.000000e+00
34558   0.000000e+00
112633  0.000000e+00
11872   0.000000e+00
111741  0.000000e+00
112639  0.000000e+00
110526  0.000000e+00
110417  0.000000e+00
34339   0.000000e+00
11983   0.000000e+00
110184  0.000000e+00
34284   0.000000e+00
12448   0.000000e+00
34273   0.000000e+00
12850   0.000000e+00
34213   0.000000e+00
109982  0.000000e+00
109483  0.000000e+00
75512   0.000000e+00
111901  0.000000e+00
76996   0.000000e+00

[24108 rows x 3 columns]

In [ ]:
# number of clusters we want
n_clusters = 5

# covert words into TFIDF metrics
tfidf = TfidfVectorizer(stop_words = 'english')
X_text = tfidf.fit_transform(df['text'])

# fit k-mean clustering
kmeans = KMeans(n_clusters=n_clusters, random_state = 0)