In [39]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import display

In [2]:
# Load Dataset
data = pd.read_csv('./data/train_1.csv').fillna(0)
page = data['Page']
data.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [4]:
# parse Page column
split_page = data["Page"].str.rsplit("_", n = 3, expand = True)
data.insert(loc=0, column='name', value=split_page[0])
data.insert(loc=1, column='project', value=split_page[1])
data.insert(loc=2, column='access', value=split_page[2])
data.insert(loc=3, column='agent', value=split_page[3])
data = data.drop(["Page"], axis=1)

split_language = data["project"].str.split(".", n = 1, expand = True)
data.insert(loc=1, column='language', value=split_language[0])
data = data.drop(["project"], axis=1)

data.head()

,name,language,access,agent,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1,zh,all-access,spider,18.0,11.0,5.0,13.0,14.0,9.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM,zh,all-access,spider,11.0,14.0,15.0,18.0,11.0,13.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C,zh,all-access,spider,1.0,0.0,1.0,1.0,0.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute,zh,all-access,spider,35.0,13.0,10.0,94.0,4.0,26.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You,zh,all-access,spider,0.0,0.0,0.0,0.0,0.0,0.0,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [43]:
# helper functions
def sumAllRows(df, row_name):
    columns = list(df.columns.values)
    sum_rows = pd.DataFrame(columns=columns)
    for column in columns:
        if all(type(x) is not str for x in df[column]):
            sum_rows.at[row_name, column] = df[column].sum()
    return sum_rows

In [45]:
# get dataset sum by language
columns = list(data.columns.values)
use_by_language = pd.DataFrame(columns=columns)
languages = data.language.unique()
for language in languages:
    usage = data[data.language == language]
    use_by_language = use_by_language.append(sumAllRows(usage, language))

display(use_by_language.head())

# get dataset sum by access
columns = list(data.columns.values)
use_by_access = pd.DataFrame(columns=columns)
accesses = data.access.unique()
for access in accesses:
    usage = data[data.access == access]
    use_by_access = use_by_access.append(sumAllRows(usage, access))

display(use_by_access.head())

# get dataset sum by agent
columns = list(data.columns.values)
use_by_agent = pd.DataFrame(columns=columns)
agents = data.agent.unique()
for agent in agents:
    usage = data[data.agent == agent]
    use_by_agent = use_by_agent.append(sumAllRows(usage, agent))

display(use_by_agent.head())

,name,language,access,agent,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
zh,NaN,NaN,NaN,NaN,4.14499e+06,4.15119e+06,4.12366e+06,4.16345e+06,4.44129e+06,4.46429e+06,...,5.94685e+06,5.8651e+06,6.21516e+06,6.56981e+06,6.48581e+06,6.47844e+06,6.5134e+06,6.04254e+06,6.1112e+06,6.29856e+06
fr,NaN,NaN,NaN,NaN,8.45864e+06,8.51295e+06,8.18603e+06,8.74984e+06,8.59049e+06,8.9498e+06,...,1.1607e+07,1.13837e+07,1.10055e+07,1.18675e+07,1.66784e+07,1.52815e+07,1.37815e+07,1.33998e+07,1.24711e+07,1.15047e+07
en,NaN,NaN,NaN,NaN,8.47122e+07,8.44385e+07,8.01677e+07,8.34632e+07,8.61986e+07,9.28094e+07,...,1.20492e+08,1.12905e+08,1.19861e+08,1.23926e+08,1.39112e+08,1.45629e+08,1.41278e+08,1.50558e+08,1.25405e+08,1.23624e+08
commons,NaN,NaN,NaN,NaN,1.14082e+06,1.17813e+06,1.15055e+06,951317,1.05804e+06,1.21006e+06,...,2.00424e+06,2.39851e+06,1.99523e+06,2.4143e+06,2.65923e+06,2.30536e+06,2.59902e+06,2.30929e+06,2.50616e+06,2.17732e+06
ru,NaN,NaN,NaN,NaN,9.46385e+06,9.62764e+06,8.92346e+06,8.39321e+06,8.93853e+06,9.6289e+06,...,1.3465e+07,1.32921e+07,1.31334e+07,1.68395e+07,1.67171e+07,1.50402e+07,1.40003e+07,1.3479e+07,1.20668e+07,1.3223e+07

,name,language,access,agent,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
all-access,NaN,NaN,NaN,NaN,7.46981e+07,7.56071e+07,7.10869e+07,7.34846e+07,7.65151e+07,8.08873e+07,...,1.01477e+08,1.00865e+08,1.0256e+08,1.11948e+08,1.23193e+08,1.23215e+08,1.19577e+08,1.22835e+08,1.075e+08,1.07971e+08
desktop,NaN,NaN,NaN,NaN,3.98767e+07,4.01666e+07,3.5876e+07,3.36002e+07,3.54229e+07,4.34266e+07,...,5.71146e+07,5.09088e+07,4.80517e+07,4.91955e+07,5.74049e+07,5.93119e+07,5.8811e+07,5.84932e+07,5.11227e+07,4.79803e+07
mobile-web,NaN,NaN,NaN,NaN,3.40976e+07,3.38201e+07,3.42013e+07,3.85281e+07,3.95574e+07,3.64283e+07,...,3.8269e+07,4.31111e+07,4.70331e+07,5.41894e+07,5.64698e+07,5.47209e+07,5.23951e+07,5.65587e+07,4.89859e+07,5.337e+07

,name,language,access,agent,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
spider,NaN,NaN,NaN,NaN,664648,619550,595102,613861,622344,583581,...,3.05264e+06,3.3962e+06,3.2453e+06,3.67277e+06,4.37017e+06,3.98289e+06,3.19946e+06,3.04401e+06,2.44693e+06,2.59841e+06
all-agents,NaN,NaN,NaN,NaN,1.48008e+08,1.48974e+08,1.40569e+08,1.44999e+08,1.50873e+08,1.60159e+08,...,1.93808e+08,1.91489e+08,1.94399e+08,2.11661e+08,2.32698e+08,2.33265e+08,2.27583e+08,2.34843e+08,2.05161e+08,2.06723e+08

KeyboardInterrupt: